<script type="text/javascript">
  <% if current_user %>
    window.current_user =
    <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
  <% end %>
</script>
<main id="root"></main>
