.event-form-container {
  text-align: center;
  .event-form-banner {
    height: 250px;
    width: 100%;
    background-image: url('/images/event.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30% 20%;
  }

  .event-form-banner-txt {
    padding-top: 80px;
    font-size: 45px;
    color: white;
  }
  .event-form-banner-smaller-txt {
    margin-top: 20px;
    font-size: 24px;
    color: white;
  }

  .event-form {
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    text-align: left;
    width: 80%;

    .event-location {
      margin-top: 20px;
      label {
        display: block;
        font-size: 30px;
        font-weight: 550;
        margin-bottom: 16px;
      }
      input {
        width: 600px;
        height: 40px;
        border: none;
        border-bottom: 1px solid rgba(181, 181, 181, 0.8);
        font-size: 18px;
        margin-bottom: 20px;
      }
    }

    .event-date {
      margin-top: 20px;
      label {
        display: block;
        font-size: 30px;
        font-weight: 550;
        margin-bottom: 16px;
      }
      input {
        width: 600px;
        height: 40px;
        font-size: 24px;
        margin-bottom: 20px;
      }
    }

    .event-name {
      margin-top: 20px;
      label {
        display: block;
        font-size: 30px;
        font-weight: 550;
        margin-bottom: 16px;
      }
      input {
        width: 600px;
        height: 40px;
        font-size: 18px;
        margin-bottom: 20px;
      }
    }

    .event-description {
      margin-top: 20px;
      label {
        display: block;
        font-size: 30px;
        font-weight: 550;
        margin-bottom: 16px;
      }
      textarea {
        width: 100%;
        height: 200px;
        font-size: 18px;
        margin-bottom: 20px;
      }
    }

    .event-form-submit {
      margin-top: 20px;
      background-color: #d01031;
      color: white;
      height: 50px;
      width: 300px;
      font-size: 20px;
      font-weight: 700;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .event-form-submit:hover {
      background-color: #900d24;
    }

    .event-form-delete {
      margin-top: 20px;
      background-color: #d01031;
      color: white;
      height: 50px;
      width: 300px;
      font-size: 20px;
      font-weight: 700;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-left: 80px;
    }

    .event-form-delete:hover {
      background-color: #900d24;
    }
  }

}
