.first-explore {
  display: flex;
  justify-content: space-between;
}

.explore-text {
  font-size: 45px;
  font-family: sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.first-explore, .second-explore  {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.first-explore img, .second-explore img {
  width: 300px;
  height: 200px;
  margin: 5px;
}

.first-explore span, .second-explore span {
  padding-left: 5px;
}
