.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  margin-top: 50px;
  height: 80px;
}

.inner-footer {
  display: flex;
  width: 60%;
  padding-left: 20%;
  padding-right: 20%;
  justify-content: space-between;
  align-items: center;
}

.footer img {
  width: 40px;
  height: 40px;
}

#trade-mark {
  color: white;
  width: 100%;
  font-size: 12px;
  text-align: right;
  padding-top: 10px;
  left: 100%;
  margin-left: -80px;
}
