.group-banner-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  margin-top: 20px;

  .group-outer-container {
    width: 100%;

    .group-banner {
      display: flex;
      align-items: center;
      font-size: 40px;
      color: white;
      background-color: #ed1c40;
      height: 115px;

      span {
        margin-top: 35px;
        margin: 0 auto;
      }
    }

    .group-nav {
      display: flex;
      justify-content: space-between;
      height: 45px;
      border: 1px solid rgba(144, 144, 144, 0.87);

      .group-left {
        width: 40%;
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 15px;

        a {
          color: rgba(0,0,0,.54);
        }
      }

      .group-right {
        display: flex;
        align-items: center;

        button {
          background-color: #d01031;
          color: white;
          height: 35px;
          width: 120px;
          font-size: 16px;
          font-weight: 700;
          border: none;
          border-radius: 5px;
          margin-right: 5px;
          cursor: pointer;
        }

        a {
          background-color: #d01031;
          padding: 8px;
          padding-right: 15px;
          padding-left:15px;
          color: white;
          height: 35px;
          width: 120px;
          font-size: 16px;
          font-weight: 700;
          border: none;
          border-radius: 5px;
          margin-right: 5px;
          cursor: pointer;
        }
      }
    }
  }
}
