.signup-header {
  display: flex;
  position: absolute;
  left: 0;
  cursor: pointer;
  border-bottom: 1px solid rgba(98, 98, 98, 0.42);
  width: 100%;
}
.signup-header img {
  width: 120px;
  margin: 12px;
}

.header-inner {
  display: flex;
  height: 73px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(117, 116, 116);
}

.header-nav {
  position: relative;
}

.header-inner .header-center img {
  height: 35px;
  width: auto;
  cursor: pointer;
}

.header-right {
  display: flex;
  width: 280px;
  justify-content: space-between;
  align-items: center;
  right: 0;
}

.header-create-group {
  cursor: pointer;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 550;
}

#login-link {
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  font-family: sans-serif;
}

.signup-link {
  background-color: rgb(180, 8, 34);
  color: white;
  display: inline-block;
  padding: 10px 15px ;
  margin-left: 5px;
  border-radius: 5px;
}

.close-button {
  margin-bottom: 20px;
}

#login-text, #signup-text {
  font-size: 36px;
  font-family: sans-serif;
  margin-top: 10px;
  color: rgb(180, 8, 34);
}

#sign-link {
  padding-top: 10px;
  margin-bottom: 10px;
  font-family: sans-serif;
  border-bottom: 1px solid grey;
}

.login-submit, .demo-submit, .signup-submit {
  border: none;
  background-color: rgb(180, 8, 34);
  color: white;
  display: inline-block;
  padding: 7px 12px ;
  margin-top: 5px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 550;
  cursor: pointer;
}

.error-msg {
  padding: 5px;
  color: red;
}

.login-input {
  width: 350px;
  border-radius: 5px;
  border-style: solid;
  margin-bottom: 13px;
  height: 30px;
  font-size: 20px;
}

.demo-submit {
  border-top: 1px solid grey;
  margin-top: 15px;
}

.signup {
  display: flex;
  justify-content: center;
}

.signup-form {
  position: absolute;
  z-index: 8;
  background-color: white;
}

.signup form {
  border: 1px solid grey;
  margin-top: 15%;
  padding: 15px 10px;
  border-radius: 5px;
}

.welcome-msg {
  font-size: 20px;
  font-weight: 500;
}

#logout-button, .welcome-msg, #login-link, .signup-link {
  margin-right: 20px;
}

.logout-button {
  color: white;
  display: inline-block;
  padding: 10px 15px ;
  margin-left: 5px;
  border-radius: 5px;
}
