.signup-header {
  display: flex;
  position: absolute;
  left: 0;
  border-bottom: 1px solid rgba(98, 98, 98, 0.42);
  width: 100%;
}
.signup-header img {
  width: 120px;
  margin: 12px;
  cursor: pointer;
}

.header-inner {
  display: flex;
  height: 73px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(117, 116, 116);
}

.header-nav {
  position: relative;
}

.header-inner .header-center img {
  height: 35px;
  width: auto;
  cursor: pointer;
}

.header-center {
  margin-left: 140px;
}

.header-right {
  display: flex;
  width: 280px;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
}

.header-create-group {
  cursor: pointer;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 550;
}

#login-link {
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  font-family: sans-serif;
  margin-left: 40px;
}

.signup-link, #logout-button {
  background-color: rgb(180, 8, 34);
  color: white;
  display: inline-block;
  width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin-left: 5px;
  border-radius: 5px;
}

#logout-button {
  font-size: 16px;
  background-color: #d01031;
  border: none;
}

.close-button {
  margin-bottom: 20px;
}

#login-text, #signup-text {
  font-size: 36px;
  font-family: sans-serif;
  margin-top: 10px;
  color: #d01031;
}

#sign-link {
  margin-top: 10px;
}

#signup-text {
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(181, 181, 181, 0.8);
}

.login-submit, .demo-submit, .signup-submit {
  border: none;
  background-color: #d01031;
  color: white;
  display: inline-block;
  padding: 7px 12px ;
  margin-top: 5px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 550;
  cursor: pointer;
}

.error-msg {
  padding: 5px;
  color: red;
}

.login-input {
  width: 350px;
  border-radius: 5px;
  border-style: solid;
  margin-bottom: 13px;
  height: 30px;
  font-size: 20px;
}

.demo-submit {
  border-top: 1px solid grey;
  margin-top: 15px;
}

.signup {
  display: flex;
  justify-content: center;
}

.signup-form {
  position: absolute;
  /*z-index: 8;*/
  background-color: white;
}

.signup-form input {
  border: 1px solid rgba(181, 181, 181, 0.5);
  margin-top: 5px;
}

.signup-form label {
  font-size: 18px;
}

.signup form {
  border: 1px solid rgba(181, 181, 181, 0.5);
  margin-top: 15%;
  padding: 25px 30px;
  border-radius: 5px;
}

.signup-signin {
  margin-top: 20px;
}

.signup-signin span {
  cursor: pointer;
  color: rgb(79, 95, 233);
}

.welcome-msg {
  font-size: 20px;
  font-weight: 500;
  width: 180px;
  display: flex;
  align-items: center;
}

.username-image {
  cursor: pointer;
  width: 35px;
  height: 30px;
  border-radius: 50%;
  margin-left: 5px;
}
