.home-banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ed1c40;
  height: 150px;

  .home-text, .home-group-count {
    text-align: center;
  }

  .home-text {
    margin-top: 25px;
    font-size: 35px;
    margin-bottom: 20px;
    color: white;
    font-weight: 500;
  }

  .home-group-count {
    font-size: 18px;
    color: rgba(255,255,255,.7)
  }
}

.home-search-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  height: 63px;
  background-color: black;
  width:960px;
  top: -25px;
  position: relative;

  .home-search {
    display: flex;
    margin-left: 18px;

    .search  {
      display: flex;
      align-items: center;

      .search-bar {
        background-color: white;
        border: 1px solid black;
        border-radius: 3px;
        padding-right: 1px;

        .fa-search {
          margin-left: 5px;
          font-size: 20px;
        }

        input {
          width: 100%;
          border: none;
          height: 38px;
          width: 280px;
          font-size: 18px;
          margin-left: 5px;
        }
      }

      span {
        margin-left: 10px;
        color: white;
        font-size: 16px;
      }
    }
  }

  .home-nav {
    display: flex;
    height: 38px;
    width: 250px;
    margin-right: 10px;
    border: 1px solid rgb(62, 62, 62);
    border-radius: 5px;

    .home-calendar {
      width: 50%;
      height: auto;
      padding-left: 1px;
      border-left: 1px solid rgb(69, 67, 67);
      border-radius: 3px;

      button {
        background: transparent;
        color: white;
        border: none;
        width: 100%;
        height: 100%;
        font-size: 18px;
        cursor: pointer;
      }

      button:focus {
        background-color: rgb(69, 67, 67);
      }
    }

    .home-groups {
      width: 50%;
      height: auto;
      padding-right: 1px;
      border-radius: 3px;

      button {
        background: transparent;
        color: white;
        border: none;
        width: 100%;
        height: 100%;
        font-size: 18px;
        cursor: pointer;
      }

      button:focus {
        background-color: rgb(69, 67, 67);
      }
    }
  }
}


.home-group{
    margin: 0 auto;
    column-count: 3;
    column-gap: 20px;
    width:960px;

    .home-group-items {
      cursor: pointer;
    }

    li {
      display: block;
      height: 170px;
      margin-bottom: 20px;
    }

    img {
      position: relative;
      width: 100%;
      height: 100%;
    }

    .group-name {
      position: relative;
      color: white;
      font-size: 20px;
      top: -60px;
      margin-left: 15px;
    }

    .group-user-count {
      position: relative;
      font-size: 14px;
      color: rgb(207, 205, 209);
      top: -55px;
      margin-left: 15px;
    }

}

.search-result-error {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-top: 100px;
  margin-bottom: 800px;
}
