<!DOCTYPE html>
<html>
  <head>
    <title>JustDoIt</title>


    <link rel=“icon” href=“/images/justdoit.png” type=“image/gif” sizes='16x16'>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
